In [1]:
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.6.0.20230303-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.6/71.6 KB 2.3 MB/s eta 0:00:00
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from snscrape) (2.25.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from snscrape) (2022.7.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from snscrape) (3.9.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.26.14)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.6.0.20230303

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [5]:
maxTweets = 1000
tweets_list2 = []
for i,tweet in enumerate(sntwitter.TwitterSearchScraper(" 'ChampionsLeague' since:2021-03-01 until:2023-03-08 lang:id").get_items()):
  if i>maxTweets:
    break
  tweets_list2.append([tweet.date, tweet.content])

<ipython-input-5-405e7a8a2e41>:6: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets_list2.append([tweet.date, tweet.content])

In [6]:
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime','Text'])
tweets_df2 = tweets_df2.drop_duplicates()
tweets_df2

,Datetime,Text
0,2023-03-07 23:59:07+00:00,Daftar Tim Lolos ke 8 Besar Liga Champions : A...
1,2023-03-07 23:56:24+00:00,#ChampionsLeague semua pemain Chelsea mengucap...
2,2023-03-07 23:55:42+00:00,concacaf champions league&gt;&gt;&gt;&gt; Euro...
3,2023-03-07 23:53:31+00:00,"Banyak negara kesulitan pangan, imbas peranf R..."
4,2023-03-07 23:53:24+00:00,@ChampionsLeague Kasambet apa ini chealsea gil...
...,...,...
996,2023-03-03 13:12:04+00:00,@ChampionsLeague Oozora Tsubasa
997,2023-03-03 13:10:48+00:00,Umutoza wa Paris Saint Germain Christophe Galt...
998,2023-03-03 13:05:02+00:00,@ChampionsLeague Goal vs Milan
999,2023-03-03 13:04:16+00:00,Bareke bagende ikivunga nitwashika kuri yoroda...
1000,2023-03-03 12:52:35+00:00,@ChampionsLeague Gooal

In [8]:
tweets_df2.to_csv('Data_ligachampion.csv', sep=',', index = False)